@{
    ViewBag.Title = "Home Page";
    Layout = null;
}



<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths gr__bettermeanthealth_com" lang="en">
<!--<![endif]-->
<head>
    <title>Betterment</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS -->
    <link rel="icon" href="~/Images/favicon.png" type="image/png">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/styles.css" rel="stylesheet" />

    <!-- Js -->
    <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>

    <!--[if IE]>
      <script src="_ui/js/html5.js"></script>
    <![endif]-->
</head>
<body data-gr-c-s-loaded="true">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="container">
                    <div class="col-md-12">
                        <figure class="logo">
                            <figcaption>
                                <img src="~/Images/logo.png" alt="logo">
                            </figcaption>
                            <h1 class="logo_text">Bettermeant Health</h1>
                        </figure>
                    </div>

                    <div class="col-md-12 float-left">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>*@
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Marketplace</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Account/Login">Patient Log-in</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Account/AdminLogin">Admin Log-in</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="main">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="physician_search">Physician Search</h2>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search_bar" type="search" placeholder="Find “Primary Care Doctor”, “Back Pain”, “Counseling”" aria-label="Search">
                        <img src="~/Images/search.png" alt="search" class="search">
                    </form>
                </div>
                <div class="col-md-12 images_sec">
                    <div class="col-md-3 float-left">
                        <img src="~/Images/primary_care.jpg" alt="image">
                        <span>Primary Care</span>
                    </div>

                    <div class="col-md-3 float-left">
                        <img src="~/Images/Ophthalmologist.jpg" alt="image">
                        <span>Ophthalmologist</span>
                    </div>

                    <div class="col-md-3 float-left">
                        <img src="~/Images/Pediatrician.jpg" alt="image">
                        <span>Pediatrician</span>
                    </div>

                    <div class="col-md-3 float-left">
                        <img src="~/Images/Vaccinations.jpg" alt="image">
                        <span>Vaccinations</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /main -->

        <footer id="footer">
            <div class="container">

            </div>
        </footer>
        <!-- /footer -->
    </div>
    <!-- /wrapper -->
    <!--JS-->
    <script>window.jQuery || document.write('<script src="_ui/js/vendor/jquery-1.11.3.min.js">')</script>
    <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>



    <style>
        body {
            font: normal 14px/20px Arial, Helvetica, sans-serif;
            color: #4b4b4b;
            background-color: #cce1da;
            /*background-image: url("../images/circles.png");*/
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</body>
</html>