
@{
    ViewData["Title"] = "ChangePassword";
      Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

    <div class="container-fluid" style="margin-top: 50px;">
        <div class="container">
            <div class="top-heading">
                <form class="first-login-form" action="~/Account/ChangePassword" id="frmChangePassword" method="post">
                    <div class="form-group row">
                        <label for="txtOldPassword" class="col-sm-2 col-form-label">Old Password:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" required data-required-msg="Please enter old password" id="txtOldPassword" name="txtOldPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtNewPassword" class="col-sm-2 col-form-label">New Password:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" required data-required-msg="Please enter new password" id="txtNewPassword" name="txtNewPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtConfirmPassword" class="col-sm-2 col-form-label">Confirm Password:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" required data-required-msg="Please enter confirm password" id="txtConfirmPassword" name="txtConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group">
                            <div class="col-md-6 text-center">
                                <input type="submit" name="btnSubmit" id="btnSubmit" value="Submit" class="col-md-offset-9 btn btn-primary" style="border: 1px solid #580f8b; margin-left: 0px;" />
                                <a href="~/Account/Login" type="button" class="btn btn-default" tabindex="4">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 float-left" style="float: right; margin-top:-196px; border-left: 1px solid;">
                <h5 class="newpatient">New Patient <br> <a href="~/Account/Signup">Sign-up</a></h5>
            </div>
        </div>
    </div>

